.actionValide {
    display: none;
}

button.valider {
    background: green;
}

button.annuler {
    background: red;
}

canvas {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    canvas {
        max-width: 100%;
        height: auto;
    }
}
